* {
    font-family: monocraft, monospace, serif;
    margin: 0;
    padding: 0;
}
#backgroundVideo{
    position: fixed;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#loginContainer {
    background-color: #ffffff6d;
    padding: 3rem 4rem;
    width: 40%;
    height: 60%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
}
h1 {
    font-size: 1.4rem;
    margin: 3% 0 13% 0;
}
h2 {
    margin-bottom: 6%;
}
form{
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10%;
}

label{
    font-size: 1.3rem;
    font-weight: bolder;
}
input{
    height: 2rem;
    border-radius: 5px;
    border: #000 2px solid;
    padding-left: 4%;
    margin-bottom: 2%;
}
button{
    font-size: 1.1rem;
    margin-top: 10%;
    padding: 3%;
    background-color: #e95900;
    border: #000 1px solid;
    border-radius: 5px;
    transition: 0.2s;
}
button:hover{
    background-color: #e0be00;
    color: #000;
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

.wrongPassword {
    margin-top: 5%;
    color: #e92b00;
    font-weight: bolder;
}



