*{
    font-family: monocraft, monospace, serif;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to bottom, #444444, #2a2a2a,#111111);
}

header{
    border: 2px solid #000;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right top, #483000, #814002,#5f2e00);

}
#logo{
    width: 5rem;
}
header h1{
    font-size: 2rem;
    color: #fdcb01;
    text-shadow: #ffca5f 0 3px 10px;
}
header p{
    color: #ffb82a;
    font-style: italic;
}

nav ul{
    border: 2px solid #000;
    margin: 1%;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left bottom, #0f0f0f 30%,#19002e 70%);
}
nav ul li, a, a:visited{
    list-style-type: none;
    color: #fdcb01;
    text-decoration: none;
    transition: 0.2s;
}
nav ul li:hover, a:hover{
    color: #fd8701;
    text-shadow: #ffca5f 0 0 10px;
    cursor: pointer;
    transform: scale(1.1);
}

#highlights{
    width: 95%;
    margin: 2% auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column nowrap;
    border: 2px solid #e9ba00;
    width: 20rem;
    height: 20rem;
    box-shadow: #e95900 0 0 20px 2px;
    margin: 2% 3%;
    background-image: linear-gradient(to bottom, #fff,#1b1b1b ,#2d0039);
}
.card:hover{
    transition: 0.2s ease;
    transform: scale(1.03);
    cursor: pointer;
}
.line{
    width: 80%;
    height: 1.6px;
    background-color: #e9ba00;
    margin: 0 auto;
}
.cardHeader{
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardImg{
    width: 8rem;
}
.cardTitle{
    font-size: 1.3rem;
    text-align: center;
    color: #e9ba00;
}
.price{
    font-size: 1.2rem;
    color: #e99400;
}
.card button{
    padding: 5%;
    background-color: #e95900;
    border: #000 1px solid;
    transition: 0.2s;
}
.card button:hover{
    background-color: #e0be00;
    color: #000;
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
}

footer{
    background-color: #2d0039;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer address{
    color: #fdcb01;
    font-size: 1.2rem;
}